{% extends 'base.html' %}
{% block title %} Web Scrapping - Deeplinks {% endblock %}
{% block content %}
    <p>ESTOY EN LA PAGINA DE POST</p>
    <form method="POST"> {% csrf_token %}
        <div class="form-group">
            <h2>LISTA DE DEPPLINK</h2>
        </div>
        <div class="form-group row mb-3">
            <label for="inputIdCategoria" class="col-sm-2 col-form-label">ID Categoría:</label>
            <div class="col-sm-10">
                {{ form.as_p }} 
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">BUSCAR</button>
        </div>
    </form>
    <div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Lista de IDs que deben ser corregidas</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Se ha ingresado un ID que no corresponde</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <ul>
        {% for item in posts %}
		<li>
			Titulo: {{ item.title }}
			Autor: {{ item.autor }}
			Contenido: {{ item.body }}
		</li>
		{% endfor %}
    </ul>
    <div>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
    </div>
{% endblock %}